# Servidor
PORT=3000
NODE_ENV=development

# Twilio (WhatsApp)
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_WHATSAPP_NUMBER=whatsapp_number_here
BUTTONS_CONTENT_SID=your_buttons_content_sid_here

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_database_password
DB_NAME=nutribot

